html {
  font-family: "Hind Siliguri", "sans serif";
  font-size: 16px;
}

.flex-container {
  display: flex;
  width: 100%;
}

.mobile {
  display: none;
}

h1, span, p, h2, h3 {
  color: RGB(41, 46, 51);
}

header {
  height: 64px;
  position: fixed;
  z-index: 5;
  background-color: white;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

.logo img {
  height: 32px;
}

.logo span {
  font-size: 1rem;
}

header nav {
  margin-right: 1.5rem;
}

header nav ul{
  list-style: none;
  display: flex;
}

header nav a{
  color: black;
  text-decoration: none;
  padding-left: 1rem;
  font-size: 1rem;
}

@media only screen and (max-width: 450px){
  .desktop {
    display: none;
  }
 .mobile ul {
   list-style: none;
   display: flex;
 }
}

/* main */

.left{
  width: 60%;
  padding: 32px 24px;
}

.right {
  display: flex;
  flex-direction: column;
  width: 40%;
}


/* banner section */


.banner {
  padding-top: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.banner img {
  max-width: 100%;
  max-height: 100%;
}


.banner .right {
  justify-content: center;
}

.banner h1 {
  font-size: 2.5rem;
  margin-top: 6rem;
}

.banner p {
  font-size: 1.5rem;
  margin-top: 0rem;
}

.grey {
  background-color: RGB(175, 191, 255);
}

button {
  background-color: RGB(178, 44, 36);
  display: flex;
  color: white;
  text-align: center;
  line-height: 36px;
  font-size: 1.2rem;
  padding: 0.5rem 7rem;
  width: 20rem;
  box-shadow: none;
  transition-property: background-color;
}

button:hover {
  background-color: RGB(255, 63, 52);
}

/* information section */

.information {
  display: flex;
}

.information img {
  max-width: 100%;
  background-color: white;
}

.newsitem {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 1rem 1rem;
}

.newsitem img {
  width: 35%;
  height: auto;
  margin-right: 1rem;
}

.newsitem .text {
  width: 65%;
}

.newsitem p{
  font-size: 1.2rem;
}

.newsitem a {
  font-size: 1.2rem;
  color: blue;
  text-decoration: none;
}

.name {
  font-size: 0.9rem;
}


/* Courses section */

.coursesection {
 width: 100%;
 text-align: center;
}

.coursesection h1 {
  font-size: 2rem;
  padding: 2rem 0rem 1rem 0rem;
  margin-top: auto;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: auto;
}

.course {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  margin: 1rem;
  background-color: white;
}

.course img {
  width: 100%;
}

.courseinfo {
  padding: 1rem;
  background-color: white;
  text-align: left;

}

.course h3, .course span, .course p {
  margin-left: 1.2rem;
}

.course span, p {
  font-size: 1.2rem;
}

/* thesis exhibit section */

.thesisexhibit {
  width: 100%;
  text-align: center;
}

.thesisexhibit .title span{
  font-size: 1.2rem;
}


video {
  width: 100%;
}

.exhibit {
  display: flex;
  margin-top: 2rem;
}

.exhibit img {
  padding: 16px;
}

.exhibit .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.thesis h2, .thesis p {
  text-align: left;
}

/* footer */

Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid RGB(175, 191, 255);
}

footer span {
  margin-left: 24px;
}

Footer ul {
  display: flex;
}

footer li {
  list-style: none;
}

footer nav a{
  color: black;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 24px;
}
